{{> header}}

<main class="main">
  {{#each donations}}
    <article class="blogpost">
     <h1 class="donation__amount">{{this.title}}</h1>
     <p class="blogpost__body"> {{this.body}} </p>
      <p>{{this.username}}</p>
    </article>
  {{/each}}
</main>
