{{> header}}

<section>
  <img class="arrow" src="" alt="Back to Home arrow">
  <p>Make a regular donation</p>
</section>

<form action="/payment-processor" method='post'>
  <section>
      <header>Please select an amount</header>
      <div class="">50</div>
      <div class="">100</div>
      <div class="">150</div>
      <div class="">200</div>
      <div class="">250</div>
      <div class="">300</div>
      <div class="">Other amount</div>
      <input type="text" name="" value="">
  </section>

  <section>
    <header>How often</header>
    <div class="">Monthly</div>
    <div class="">Quarterly</div>
  </section>

  <button type="submit">Take me to payment</button>
</form>
