<section>
  <img class="arrow" src="" alt="Back to Home arrow">
  <p>Make a gift</p>
</section>

<section>
  <header>Please select an amount</header>
  <div class="">100</div>
  <div class="">150</div>
  <div class="">200</div>
  <div class="">250</div>
  <div class="">300</div>
  <div class="">500</div>
  <div class="">Other amount</div>
  <input type="text" name="" value="">
</section>
