<section class="login-page-container">

  <header class="login-page__header">
    <h1>Founders &amp; Coders Donation App</h1>
  </header>

  <article class="login-page-blurb">
    <p>Welcome to our home for donations. To get started, please authorize yourself with github</p>
  </article>

  <article class="fac-logo-container">
    <img class="fac-logo"src="./assets/fac-logo.png">
  </article>


  <article class="github-login-section">
    <form class='github-login' action='/login-github' method="GET">
    <button class="github-login-button">
      <img class="github-login-button__img"src="./assets/github-logo.svg">
      <h2 class="github-login-button__text">Login with github</h2>
    </button>
  </form>
  </article>

</section>
