<form class='github-login' action='/login-github' method="GET">
  <button class="github-login-button">Login with github</button>

  <button class="test-button">test-button</button>
  
  </div>
</form>
