<section>
  <img class="avatar" src="" alt="Your profile picture">
  <img class="settings" src="" alt="Settings icon">
</section>

<section>
  <header>Hi NAME</header>
  <p>Welcome back! Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</section>

<section>
  <header>Your donation</header>
  <article class="donation donation--regular">
    <img src="" alt="Regular donation icon">
    <p>Make a regular donation</p>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
  </article>
  <article class="donation donation--gift">
    <img src="" alt="Gift icon">
    <p>Make a gift</p>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
  </article>
</section>
