{{> header}}

<p>Sorry, that page doesn't exist! Were you trying to make a donation?</p>

<div class="donation-type row">
  <div class="donation-type__regular col-xs-12 col-md-6">
    <a href="/donation-regular">
      <h2>Make a Regular Donation</h2>
    </a>
  </div>

  <div class="donation-type__one-off col-xs-12 col-md-6">
    <a href="/donation-one-off">
      <h2>Make a One-time Gift</h2>
    </a>
  </div>
</div>
