{{> header}}

<section class="payment-success-container">

  <header class="payment-success__header">
    <h2>Thanks for manking a donation!</h2>
  </header>

  <article class="payment-success-blurb">
    <p>You're the best.</p>
  </article>

  <article class="payment-success-img-container">
    <img class="payment-success-logo"src="./assets/payment-success-img.svg">
  </article>

  <article>
    <a href="/display-donations"><h2>My donations</h2></a>
  </article>

</section>
