<section>
  <img class="avatar" src="" alt="Your profile picture">
  <p>Welcome, NAME!</p>
</section>

<section>
  <p>I'm an alum from [FACx], [location]</p>
  <!-- [] - populate from cookie/ db -->
  <a href="#">change</a>
</section>

<section>
<p>Thanks for filling that out, you won't need to again</p>
</section>

<section>
  <div class="">Let's get started</div>
</section>
