<section>
  <img class="avatar" src="" alt="Your profile picture">
  <p>Welcome, NAME!</p>
</section>

<section>
  <p>We have a few questions... Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</section>

<section>
  <header>Are you an alumni or a friend?</header>
  <article class="donor-type donor-type--alum">
    <img src="" alt="Alumni icon">
    <p>I'm an Alum</p>
  </article>
  <article class="donor-type donor-type--friend">
    <img src="" alt="Friend icon">
    <p>I'm a friend</p>
  </article>
</section>
