{{> header }}

<!-- <section class=>
  <p>I'm an alum from [FACx], [location]</p>
  [] - populate from cookie/ db
  <a href="#">change</a>
</section> -->

<section class="profile-complete row">
  <h2 class="profile-complete__header col-xs-12">Thanks for that information, you won't need to fill it out again!</h2>

  <article class="col-xs-12">
    <a href="/lets-get-started">

    <div class="lets-get-started-button">
        <h2>Let's get started</h2>
    </div>
  </a>

  </article>

</section>
