<section>
  <img class="avatar" src="" alt="Your profile picture">
  <p>Welcome, NAME!</p>
</section>

<section>
  <p>I'm a Founders &amp; Coders alumni</p>
  <a href="#">change</a>
</section>

<section>
  <header>Which campus did you study at?</header>
  <div class=""><img class="avatar" src="" alt="Your profile picture"></div>
  <div class=""><img class="avatar" src="" alt="Your profile picture"></div>
</section>

<section>
  <header>Which cohort were you on?</header>
    <div class="">100</div>
    <div class="">150</div>
    <div class="">200</div>
    <div class="">250</div>
</section>

<section>
  <button type="button" name="next-button">Next</button>
</section>
