<section class='header--welcome'>
  <img class="avatar" src="" alt="Your profile picture">
  <p>Welcome, NAME!</p>
</section>

<section class=''>
  <p>I'm a Founders &amp; Coders alumni</p>
  <a href="#">change</a>
</section>

<section class='profile-cohort profile-cohort--location'>
  <header>Which campus did you study at?</header>
  <div class="location">
    <div class="location-image">
      <img class="location-image__img" src="" alt="Photo of London">
    </div>
    <p class='location__name'>London</p>
  </div>
  <div class="location">
    <div class="location-image">
      <img class="location-image__img" src="" alt="Photo of Nazareth">
    </div>
    <p class='location__name'>Nazareth</p>
  </div>
</section>

<section class='profile-cohort'>
  <header class='profile-cohort__header'>Which cohort were you on?</header>
    <div class="profile-cohort__number">FAC1</div>
    <div class="profile-cohort__number">FAC2</div>
    <div class="profile-cohort__number">FAC3</div>
    <div class="profile-cohort__number">FAC4</div>
</section>

<section class=''>
  <button class='next-button' type="button" name="next-button">Next</button>
</section>
