<section>
  <img class="avatar" src="" alt="Your profile picture">
  <img class="settings" src="" alt="Settings icon">
</section>

<section>
  <header>Hi NAME</header>
  <!-- @TODO Text below will be different to new user view (this will be a thank you message here) -->
  <p>Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
</section>

<section>
  <p>You've donated AMOUNT so far.</p>
  <a href="#">How your money helps</a>
  <a href="#">Your donation history</a>
</section>

<section>
  <header>Donate again</header>
  <article class="donation donation--gift">
    <img src="" alt="Gift icon">
    <p>Make a gift</p>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
  </article>
  <article class="donation donation--regular">
    <img src="" alt="Regular donation icon">
    <p>Make a regular donation</p>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.</p>
  </article>
</section>
