<section class='header header--welcome row'>
  <div class="header__github-avatar-container">
    <img class="header__github-avatar col-xs-5" src="{{data.avatar_url}}" alt="Your profile picture">
  </div>
  <h2 class="header__user-message col-xs-5">Welcome, {{data.username}}!</h2>
</section>
