<section class='header header--welcome row'>
  <div class="header__github-avatar-container col-xs-4">
    <img class="header__github-avatar" src="{{data.avatar_url}}" alt="Your profile picture">
  </div>
  <h2 class="header__user-message col-xs-8">Welcome, {{data.username}}!</h2>
</section>
