.donation-one-off-container {
  min-height: 100%;
  text-align: center;
}


.donation {
  text-align: center;

  &__container {
    // display: flex;
    // justify-content: space-around;
    margin-bottom: 4rem;
  }

  &__form {
    min-height: 26rem;
  }

  &__header {
    padding: 1rem 0 0 0;
  }

  &__amount {
    // background: purple;
    color: grey;
    margin: 0.5rem;
    font-size: 1.5rem;

    input:checked {
      color: #f00;
      font-style: normal;
    }
  }
}

.button {
  font-family: $button-text-font;
  // text-align: center;
}

.button--payment {
  background: $element-emphasis;
  padding: 0 1rem 0 1rem;
  color: #fff;
}
