

.payment-success {
  max-height: 20rem;
  width: auto;
  margin-bottom: 2.5rem;
}

.payment-success-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
}

.payment-success__header {
  padding: 1rem 0 0 0;
}

.payment-success-logo {
  height: 20rem;
  width: 20rem;
}
