.profile-cohort-form {
  min-height: 50rem;
  background: red;
}

.profile-cohort {

  &__header {
    text-align: center;
  }

  &--location {
    // background: blue;
    min-height: 30em;
    text-align: center;

  }

  &--cohort {
    // background: yellow;
    min-height: 30em;
  }
}

.fac-cohort-number {
  text-align: center;
}



// .profile-cohort {
//   min-height: 15rem;
//
//   &--location {
//     font-size: 0;
//   }
//
//   &__header {
//     color: $text-emphasis;
//     margin: 2rem;
//   }
//
//   &__number {
//     background-color: $element-emphasis;
//     color: $element-emphasis-text;
//     display: inline;
//     padding: 1rem;
//   }
// }
//
.next-button {
  background-color: $element-emphasis;
  color: $element-emphasis-text;
  padding: 10px 30px;
}

input[type=radio] + label {
    visibility:hidden;
}

input[type=radio]:checked + label{
    visibility:hidden;
    color: red;
    font-style: normal;
}
