.profile-select-relation-container {
  min-height: 100%;
  text-align: center;
}

.choose-fac-relation {
  // height: 5rem;

  &__header {
    text-align: center;
  }
}

.donor-type-container {
  // height: 50em;

  .donor-type {
    min-height: 50%;
    text-align: center;
  }
}

.choose-relation-img {
  height: 10rem;
  width: 10rem;
}
