.header--welcome {
  background-color: $background-header;
  color: $text-header;
}

.profile-cohort {
  min-height: 15rem;

  &--location {
    font-size: 0;
  }

  &__header {
    color: $text-emphasis;
    margin: 2rem;
  }

  &__number {
    background-color: $element-emphasis;
    color: $element-emphasis-text;
    display: inline;
    padding: 1rem;
  }
}

.next-button {
  background-color: $element-emphasis;
  color: $element-emphasis-text;
  padding: 10px 30px;
}

.location {
  display: inline-block;
  font-size: 1rem;
  width: 50%;

  .location-image {
    width: 100%;

    &__img {
      width: 100%;
    }
  }

  &__name {
    display: inline-block;
    width: 100%;
  }
}
