$test: #bada55;
$buttontest: pink;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  padding-top: 0;
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-main;
  color: $text-emphasis;
  height: 100%;
  font-family: $body-text-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-text-font;
}
