@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto');

// Main background colors
$background-main: #f8fdfc;
$background-header: #526280;

// Text colors
$text-main: #2a2d34;
$text-header: #f8fdfc;
$text-emphasis: #1d3461;

// Element background colors
$element-emphasis: #11c18f;

$element-emphasis-text: #f8fdfc;

// text
$header-text-font: 'Open Sans', sans-serif;
$button-text-font: 'Open Sans', sans-serif;
$body-text-font: 'Roboto', sans-serif;
