<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="public/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
    <title>FAC donation app</title>
  </head>
  <body>
    <h1>I am the default template heading!</h1>
    {{{content}}}
  </body>
</html>
