<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="./main.css">

    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <!-- To best leverage Stripe’s advanced fraud functionality, include this script on every page on your site, not just the checkout page. -->
    <title>FAC donation app</title>
  </head>
  <body>
    {{{content}}}
    <script type="text/javascript" src="./main.js"></script>
  </body>
</html>
